<ion-tabs>
    <ion-tab-bar slot="top" color="success">
      <ion-tab-button tab="news" >
        <ion-icon name="book"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="publisher">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="favorites">
        <ion-icon name="list"></ion-icon>
        <ion-label>Inscrições</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="more">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
