<ion-header>
  <ion-searchbar showCancelButton="focus" placeholder="Encontrar publicadores" (ionChange)="updateListPublishers($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let publisher of listPublishers">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="2" [routerLink]="['/publishers', publisher.id]">
            <img src="{{publisher.thumbnail}}"/>
          </ion-col>
          <ion-col size="7" [routerLink]="['/publishers', publisher.id]">
            <ion-label><h4>{{publisher.name}}</h4></ion-label>
          </ion-col>
          <ion-col>
            <ion-tab-button>
              <ion-icon *ngIf="verifySubscribe(publisher.id)" name="star" color="warning" (click)="subscribedPublisher(publisher.id)"></ion-icon>
              <ion-icon *ngIf="!verifySubscribe(publisher.id)" name="star" (click)="subscribedPublisher(publisher.id)"></ion-icon>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
