<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Minha conta</ion-title>
  </ion-toolbar>
</ion-header>

<img class="img_logo" src="assets/icon/logo2_ufla.png" />

<ion-content class="ion-padding">
  <ion-list *ngIf="user">
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-text> {{user.name}} </ion-text>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-text> {{user.email}} </ion-text>
    </ion-item>
  </ion-list>
  <br><br>
  <ion-button routerLink="/edit" expand="block" color="tertiary">Editar Conta</ion-button>
</ion-content>