<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentNews">
    <ion-card-header>
      <ion-card-title>
        {{currentNews.title}}
      </ion-card-title>
      <ion-card-subtitle>{{currentNews.publishedAt | timeAgo}}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-tab-button>
            <ion-icon name="heart" *ngIf="likeId" (click)="handleLike()"  color="danger"></ion-icon>
            <ion-icon name="heart" *ngIf="!likeId" (click)="handleLike()"></ion-icon>
            <ion-label>{{currentNews.likes | likes}} likes</ion-label>
          </ion-tab-button>

        </ion-row>
      </ion-grid>
      
   <img src="{{currentNews.image}}"/>
      <div class="ion-text-justify" >{{currentNews.content}}</div>
      <!-- <ion-tab-button *ngIf="starId"  (click)="handleFavorite()">
          <ion-icon name="chatbubbles" color="primary"></ion-icon>
          <ion-label>Comentada</ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf="!starId"  (click)="handleFavorite()">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Comentar</ion-label>
      </ion-tab-button> -->
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- id="imagem" style="display:none" -->

<!-- <ion-text id="comments" style="display:none">
  COMENTAŔIO
  <br>
</ion-text> -->

<!-- <ion-input id="comments" style="display:none">Seu comentário</ion-input> -->

<div id="comments" style="display:none">
  <ion-input placeholder="Digite seu comentário"></ion-input>
</div>

<ion-footer style="background-color:#1a691a;">
  <ion-tab-button (click)="handleCommentsVisibility()">
      <ion-icon name="chatbubbles" color="light"></ion-icon>
      <ion-label color="light">Comentários</ion-label>
  </ion-tab-button>
</ion-footer>