<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Boletim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentNews">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-title>
              {{currentNews.title}}
            </ion-card-title>
            <ion-card-subtitle>{{currentNews.publishedAt | timeAgo}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row align-self-end>
          <ion-col size="9"></ion-col>
          <ion-col>
            <ion-tab-button>
              <ion-icon name="heart" *ngIf="likeId" (click)="handleLike()" color="danger" ></ion-icon>
              <ion-icon name="heart" *ngIf="!likeId" (click)="handleLike()"></ion-icon>
              <ion-label>{{currentNews.likes | likes}}</ion-label>
            </ion-tab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <img src="{{currentNews.image}}"/>
    </ion-card-header>

    <br>
    <ion-card-content>
      <ion-card-title>Sessão 1</ion-card-title>
      <br>
      <div class="ion-text-justify" >{{currentNews.content}}</div>
    </ion-card-content>

    <ion-card-content>
      <ion-card-title>Sessão 2</ion-card-title>
      <br>
      <div class="ion-text-justify" >{{currentNews.content}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>

<div id="comments" style="display:none">
  <ion-input placeholder="Digite seu comentário"></ion-input>
</div>

<ion-footer style="background-color:#1a691a;">
  <ion-tab-button (click)="handleCommentsVisibility()">
      <ion-icon name="chatbubbles" color="light"></ion-icon>
      <ion-label color="light">Comentários</ion-label>
  </ion-tab-button>
</ion-footer>