.img_news {
    margin: 10px auto;
    height: 25vh !important;
    width: auto !important;
    max-width: 90%;
    align-items: center;
    border-radius: 1vh;
    -moz-border-radius: 1vh;
    -webkit-border-radius: 1vh;
}
