<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/news"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar conta</ion-title>
  </ion-toolbar>
</ion-header>

<img class="img_logo" src="assets/icon/logo2_ufla.png" />

<ion-content class="ion-padding">
  <ion-list *ngIf="user">
    <br>
    <ion-item>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input id="nome" [(ngModel)]="user.name" value=user.name></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input id="email" [(ngModel)]="user.email" value=user.email></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nova senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirmar nova senha</ion-label>
      <ion-input type="password" [(ngModel)]="confPassword"></ion-input>
    </ion-item>
  </ion-list>
  <br>
  <ion-button expand="block" (click)="save()" color="tertiary">Salvar</ion-button>
  <br>
  <ion-button expand="block" fill='solid' routerLink="/my-account" color="danger">
    Cancelar
  </ion-button>

</ion-content>