.background_menu {
    --background: #0b0655;
}

.img_logo {
    //MUDAR ISSO AQUI
    padding-left: 90px;
    widows: 240px;
    height: 220px;
    // width: auto;
    // height: auto;
    padding-top: 70px;
}